body {
  height: 97vh;
  background: #009ce5;
  background: -webkit-linear-gradient(left top, #009ce5, #00eade);
  background: -o-linear-gradient(bottom right, #009ce5, #00eade);
  background: -moz-linear-gradient(bottom right, #009ce5, #00eade);
  background: linear-gradient(to bottom right, #009ce5, #00eade);
  text-align: center;
}

/*INTRO*/
.hider {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: 4;
}

#x {
  top: -5px;
  left: 278px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

#x:hover {
  color: #009ce5;
}

/*INSTRUCTIONS*/
#question-mark {
  /*position: absolute;*/
  margin-top: 18px;
  font-size: 30px;
}

#question-mark:hover {
  color: white;
}

.hidden {
  display: none
}

.intro-box {
  top: 140px;
  left: 150px;
  width: 290px;
}

.intro-box h1 {
  font-size: 20px;
}

.intro-box a {
  color: black;
}

.intro-box a:hover {
  color: #009ce5;
}

.instructions, .intro-box {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  padding: 3px;
  z-index: 5;
  box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.24);
}

.instructions-localizer {
  position: absolute;
  height: 0;
  width: 0;
}

.start-ins {
  top: 60px;
  left: -20px;
  width: 120px;
}

.reset-ins {
  top: 60px;
  left: 130px;
  width: 80px;
}

.speed-ins {
  top: 60px;
  left: 240px;
  width: 80px;
}

.preset-ins {
  top: 60px;
  left: 405px;
  width: 130px;
}

.grid-ins {
  top: 200px;
  left: 162px;
  width: 270px;
}

/*GRID*/
.grid-frame {
  margin: 0 auto;
  width: 380px;
  height: 380px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.grid {
  margin: 0 auto;
  /*left: 10px;*/
  padding-top: 20px;
  border: 1px solid white;
  /* width is 17*num_of_cells */
  width: 340px;
}

.grid-row {
  width: auto;
  display: flex;
  width: 340px;
}

.grid-row div {
  border: 1px solid white;
}

.grid-cell {
  width: 15px;
  height: 15px;
  list-style: none;
  background-color: #b7d2ff;
}

.col-0.alive {
  background-color: rgb(0,156,229);
}

.col-1.alive {
  background-color: rgb(0,167,227);
}

.col-2.alive {
  background-color: rgb(0,178,225);
}

.col-3.alive {
  background-color: rgb(0,199,222);
}

/*CONTROLS*/
.information-div {
  width: 600px;
  height: 80px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #009ce5;
  margin: 10px auto;

  display: flex;
  justify-content: space-between;
}

.controls-div {
  width: 350px;
  height: 70px;
  margin: 5px;
  background-color: #b7d2ff;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
}

.preset-div {
  width: 250px;
  height: 70px;
  margin: 5px;
  background-color: #b7d2ff;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
}

.options {
  position: relative;
  top: 22px;
  bottom: 22px;
  height: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}

.controls {
  box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.24);
}

.presets {
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.24);
}

/*LINKS*/
.links-div {
  margin: 10px;
}

.links-div a {
  font-size: 30px;
  margin: 10px;
  color: black;
}

.links-div a:hover {
  color: white;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
